body {
    overflow-x: hidden;
    /* Prevents horizontal scrolling */
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}

/* #region common */
.container {
    width: 100%;
    max-width: 1158px;
    padding: 0 16px;
    margin: 0 auto;
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        width: 100%;
        max-width: 1158px;
        padding: 0 16px;
        margin: 0 auto;
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        width: 100%;
        max-width: 1158px;
        padding: 0 16px;
        margin: 0 auto;
        max-width: 1158px;
        padding: 0 15px;
    }
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08),
        0 1px 1px rgba(46, 47, 66, 0.16),
        0 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* Ensures responsive layout */
}

.nav-link {
    display: flex;
    align-items: center;
}

.address-list {
    display: flex;
    flex-direction: column;
    /* Stack on small screens */
    gap: 12px;
    /* Space between items */
}

@media screen and (min-width: 768px) {
    .address-list {
        flex-direction: row;
        /* Row layout on larger screens */
        align-items: center;
    }
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.header-logo .text-logo {
    color: #2e2f42;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-bottom: 24px;
    padding-top: 24px;
}

.header-link-start {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
    padding-bottom: 24px;
    padding-top: 24px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link-start::after {
    content: '';
    border-radius: 2px;
    left: 0;
    bottom: -1px;
    width: 48px;
    height: 4px;
    position: absolute;
    background-color: #404bbf;
}

.address {
    font-style: normal;
    margin-left: auto;
}

.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.address-link {
    display: block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    padding-bottom: 24px;
    padding-top: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:focus,
.header-link:hover,
.address-link:focus,
.address-link:hover {
    color: #404BBF;
}

@media screen and (max-width: 767px) {
    .button-order {
        display: block;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .address {
        font-style: normal;
        display: block;
    }

    .header-logo {
        padding-top: 24px;
        padding-bottom: 24px;
        margin-right: 120px;
    }

    .header-link {
        position: relative;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding-top: 24px;
        padding-bottom: 24px;
        display: inline-block;
    }

    .header-link:hover,
    .header-link:focus {
        color: #404bbf;
    }

    .header-link-start {
        color: #404bbf;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-link-start::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404bbf;
    }

    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .address-link {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        display: inline-block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address-link:hover,
    .address-link:focus {
        color: #404bbf;
    }
}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .address-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .address-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

.mobile-menu {
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 0;
    stroke: #2e2f42;
    background-color: #e7e9fc;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
    background-color: #404bbf;
    fill: #fff;
    border: none;
}

.mobile-nav {
    margin-bottom: auto;
}

.mobile-nav-item {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-nav-item-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-item-link:hover,
.mobile-nav-item-link:focus {
    color: #404bbf;
}

.mobile-addr {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.mobile-addr-item-link {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mobile-addr-item-link:hover,
.mobile-addr-item-link:focus {
    color: #4d5ae5;
}

.mobile-item-icon {
    /* width: 40px;
    height: 40px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.mobile-item-list-icon {
    /* display: flex;
    gap: 40px; */
    width: 40px;
    height: 40px;
}

.mobile-item-link-icon {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-icon {
    fill: #f4f4fd;
}

.mobile-item-link-icon:hover,
.mobile-item-link-icon:focus {
    background-color: #31d0aa;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        display: none;
    }
}

/* Header finish */
.order {
    background-size: cover;
    background-position: center;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
}

.order-head {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.button-order {
    display: block;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    height: 56px;
    min-width: 169px;
    margin: 0 auto;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order:focus,
.button-order:hover {
    background-color: #404BBF;
}

@media screen and (max-width: 767px) {
    .order {
        background-size: cover;
        background-position: center;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mobile-bg@2x.jpg);
    }
}



@media screen and (min-width: 768px) {
    .order {
        background-size: cover;
        background-position: center;
        padding: 112px 120px;
        max-width: 768px;
        min-height: 436px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tablet-bg.jpg);
    }

    .order-head {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;
    }
}

@media screen and (min-width: 768px) and (min-resolution: 2x) {
    .order {
        background-size: cover;
        background-position: center;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tablet-bg@2x.jpg);
    }
}

@media screen and (min-width: 1158px) {
    .order {
        background-size: cover;
        background-position: center;
        max-width: 1440px;
        min-height: 600px;
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg.jpg);
    }

    .order-head {
        margin-bottom: 48px;
    }
}

@media screen and (min-width: 1158px) and (min-resolution: 2x) {
    .order {
        background-size: cover;
        background-position: center;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/desktop-bg@2x.jpg)
    }
}

.futures {
    padding-top: 120px;
    padding-bottom: 120px;
}

.futures-main-head {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.futures-list {
    display: flex;
    gap: 24px;
}

.futures-item {
    width: calc((100% - 72px) / 4);
}

.futures-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
    padding-top: 24px;
    padding-bottom: 24px;
    height: 112px;
}

.futures-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.futures-head-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team {
    background-color: #f4f4fd;
    padding-top: 96px;
    padding-bottom: 96px;
}

.team {
    /* max-width: 320px; */
    margin: 0 auto;
}

.team-head {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-squad {
    display: flex;
    gap: 24px;
}

.team-list {
    width: calc((100% - 72px) / 4);
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

    width: 264px;
    margin: 0 auto;
}

.team-list img {
    width: 100%;
}

.team-div {
    padding: 32px 0;
    text-align: center;
}

.team-member {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}



.team-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.team-svg {
    display: flex;
    justify-content: center;
}

.team-svg-ul {
    display: flex;
    flex-direction: row;
    gap: 24px;
    display: flex;
    justify-content: center;
}

.team-svg-a {
    display: flex;
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-icon {
    fill: #f4f4fd;
}

.team-svg-a:hover,
.team-svg-a:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {

    .team {
        padding-right: 108px;
        padding-left: 108px;
    }

    /* .team {
        max-width: 768px;
        } */

    .team-squad {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
    }

    /* .team-list {
        width: calc((100% - 24px) / 2)
    } */
}

@media screen and (min-width: 1158px) {

    .team {
        padding: 120px 0 120px 0;
    }

    /* .team {
        max-width: 1158px;
        } */

    .team-squad {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .team-list {
        width: calc((100% - 24px * 3) / 4);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .team-list:hover,
    .team-list:focus {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }

    /* .team-svg-ul{
        justify-content: end;
    } */
}

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {

    .portfolio-list {
        gap: 72px 24px;
    }

    .portfolio-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .portfolio-list {
        gap: 48px 24px;
    }

    .portfolio-item {
        width: calc((100% - 24px * 2) / 3);
        box-shadow: none;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-item:hover,
    .portfolio-item:focus {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }
}

.portfolio-div {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

.portfolio-main-head {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-wrapper {
    position: relative;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfilio-wrapper-text {
    transform: translateY(0);
}

.portfolio-wrapper-text {
    background-color: #4d5ae5;
    color: #f4f4fd;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.logo-futer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-futer-span {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer-container {
    display: flex;
    align-items: baseline;
    /* gap: 120px; */
}

.footer-text-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-svg-ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
}

.footer-svg-a {
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fotter-svg ul li svg {
    fill: white;
}

.footer-svg-a:hover,
.footer-svg-a:focus {
    background-color: #31D0AA;
}

.footer-logo {
    margin-right: 120px;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-form-div {
    margin-left: 80px;
}

.footer-form-text {
    font-weight: 500;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-input {
    border: 1px solid #fff;
    border-radius: 4px;
    min-width: 264px;
    height: 40px;
    outline: transparent;
    background-color: transparent;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 400;
    font-size: 12px;
    /* line-height: 24px; */
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input::placeholder {
    color: #fff;
}

.footer-input:focus {
    border-color: #4D5AE5;
}

.button-footer-form {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.svg-icon-footer-form {
    fill: #fff;
    margin-left: 16px;
}

.button-footer-form:hover .button-footer-form:focus {
    background-color: #404BBF;
}


@media screen and (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
        width: 584px;
    }

    .footer-link {
        margin-top: 0;
    }

    .footer-form-div {
        margin-top: 0;
    }

    .footer-logo {
        min-width: 264px;
    }

    .footer-form {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .footer-form-text {
        text-align: start;
    }

    .footer-text {
        text-align: start;
    }

    .footer-logo {
        text-align: start;
    }
}

@media screen and (min-width: 1158px) {
    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-container {
        gap: 0;
        flex-wrap: nowrap;
        width: 1158px;
    }

    .footer-logo {
        text-align: start;
    }

    .footer-logo {
        margin-right: 120px;
    }

    .footer-link {
        margin-right: 80px;
    }

    .footer-input {
        min-width: 264px;
        opacity: 1;
    }

    .button-footer-form:hover,
    .button-footer-form:focus {
        background-color: #404BBF;
    }

    .footer-input::placeholder {
        color: #fff;
    }

    .footer-svg-a:hover,
    .footer-svg-a:focus {
        background-color: #31D0AA;
    }
}


.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal-overlay {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 72px 24px 24px 24px;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-send {
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
}

.modal-button-send:hover {
    background-color: #404BBF;
}

.modal-button-close {
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    fill: #2e2f42;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-icon-modal {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover,
.modal-button-close:focus {
    background-color: #404BBF;
    fill: #ffffff;
    border: none;
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.label-text {
    font-weight: 400;
    font-size: 12px;
    /* line-height: 14px; */
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 40px;
    width: 100%;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-input-div {
    position: relative;
}

.svg-icon-input {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus+.svg-icon-input {
    fill: #4D5AE5;
}

.modal-form {
    margin-bottom: 8px;
}

.textarea-form {
    width: 100%;
    height: 120px;
    resize: none;
    background-color: transparent;
    padding: 8px 16px;
    font-weight: 400;
    font-size: 12px;
    /* line-height: 14px; */
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-form:focus {
    border-color: #4D5AE5;
}

.user-privacy {
    font-weight: 400;
    font-size: 12px;
    /* line-height: 14px; */
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 24px;
}

.modal-checkbox-span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden:checked+.user-privacy .modal-checkbox-span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.form-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.modal-user-comment {
    margin-bottom: 16px;
}

.modal-cheackbox {
    margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px;
    }
}